<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Order</h1>

<h2>Is there already an order?</h2>
<p><input type="submit" data-bind="value: validation" value ="check" onclick="dataMarch()" /></p>

<p>--------------------------------------------------------------------------------------------------------------</p>
<div id='march'></div>

<h2>New Order after Login</h2>
<p>Level : <input id='ni' data-bind="value: levelrequire" /></p>
<p>Login : <input id='l' data-bind="value: login" /></p>
<p>Mot de passe: <input id='m' type="password" data-bind="value: mdp" /></p>
<p><input type="submit" data-bind="value: validation" value ="Validation-Existence" onclick="order()" /></p>
<div id='verif'></div>
<p>--------------------------------------------------------------------------------------------------------------</p>




