<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Accueil</h1>

<h2>Test connexion utilisateur</h2>
<p>Login : <input id='l' data-bind="value: login" /></p>
<p>Mot de passe: <input id='m' type="password" data-bind="value: mdp" /></p>
<p><input type="submit" data-bind="value: validation" value ="Validation-Existence" onclick="check()" /></p>
<div id='verif'></div>
<p>--------------------------------------------------------------------------------------------------------------</p>

<h2>Test inscription</h2>
<p>Login : <input id='li'  /></p>
<p>Mot de passe: <input id='mi' type="password"  /></p>
<p>Nom: <input id='n'  /></p>
<p>Prenom: <input id='p' /></p>
<p><input type="checkBox" id='jar' name="jar" value="True"> Est un jardinier<br></p>
<p><input type="submit" data-bind="value: validation" value ="Inscription" onclick="inscription()" /></p>
<div id='inscr'></div>
<p>--------------------------------------------------------------------------------------------------------------</p>

<h2>Test obtenir les 24 dernière valeur</h2>
<p><input type="submit" data-bind="value: validation" value ="24Hours" onclick="data24()" /></p>
<div id='24'></div>
<p>--------------------------------------------------------------------------------------------------------------</p>

<h2>Test obtenir les mesures de mars 2016</h2>
<p><input type="submit" data-bind="value: validation" value ="March-2016" onclick="dataMarch()" /></p>
<div id='march'></div>
<p>--------------------------------------------------------------------------------------------------------------</p>

<h2>Test obtenir la dernière valeur enregistrée</h2>
<p><input type="submit" data-bind="value: validation" value ="Last-One" onclick="dataLast()" /></p>
<div id='last'></div>
<p>--------------------------------------------------------------------------------------------------------------</p>
